.searchContainer{
    width: 90%;
    padding: 10px 20px;
}
.searchContainer {
    text-align: center;
}
.inputSearch{
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding:10px;
    outline: none;
}
.inputSearch:focus{
    border: 1px solid #666363;
}