.containerPhotos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;
    height: 68vh;
    margin: 10px 5px;
    width: 92%;
    overflow-scrolling: auto;
    overflow-x: hidden;
}
.photo{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    align-items: center;
}
.photo img{
    overflow: hidden;
    width: 500px;
    height: 400px;
    object-fit: cover;
}
.photo button{
    width: 200px;
    margin-top: 10px;
}
.photo span {
    width: 500px;
    margin-top: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}